@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	font-family: Poppins;
	background-color: #fbfbfb;
	color: #262626;
}
/* BARRA DE NAVEGACIÓN */
body nav {
    height: 8vh;
    font-size: 1.4vw;
    position: sticky;
    top: 0;
    background-color: #4dbd33; /* #15c1f5 */
    border-bottom: 0.15vw solid #297900; /* #1082a5 */
}
  /* Enlaces */
body nav ul {
    margin-left: 2.4vw;
    list-style: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
body nav ul li {
    display: inline;
    margin-right: 1.4vw;
}
    /* Enlace Normal */
body nav ul li a {
    text-decoration: none;
    color: #262626;
}
body nav ul li a:link {
    text-decoration: none;
    color: #262626;
}
body nav ul li a:visited {
    text-decoration: none;
    color: #262626;
}
body nav ul li a:hover {
    text-decoration: underline;
}
    /* Enlace Activo */
body nav ul li a#activo {
    color: #fdfdfd; /* #f4f4f4 */
}
body nav ul li a#activo:link {
    color: #fdfdfd; /* #f4f4f4 */
}
body nav ul li a#activo:visited {
    color: #fdfdfd; /* #f4f4f4 */
}
body nav ul li a#activo:hover {
    text-decoration: none;
    color: #fdfdfd; /* #f4f4f4 */
}
body nav div {
	position: absolute;
	width: 40%;
	height: 8vh;
	margin-left: 60%;
	text-align: right;
}
body nav div span {
	display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 2%;
}
body nav div span img#imgFresa2 {
	vertical-align: middle;
    width: 2.6vw;
    padding-left: 0.2vw;
}
#wrapper h2 {
	text-align: right;
	font-size: 1.5vw;
	padding: 1.4vw 4vw 0 0;
}
table {
	text-align: center;
	width: 84%;
	margin: 0 auto;
	margin-top: 4vw;
	font-size: 1.4vw;
	background-color: #deffcc;
	border-collapse: collapse;
}
#wrapper #formAnyadir {
	text-align: center;
	margin-top: 4vw;
}
#wrapper #formAnyadir form input, #wrapper #formAnyadir form select {
    font-size: 1.2vw;
    width: 12vw;
    padding: 0.4vw 0 0.4vw 1vw;
    margin: 1vw 0 1vw 0.6vw;
    border-radius: 0.3vw;
    border: 1px solid #7d7d7d;
    background-color: #f5f5f5;
}
#wrapper #formAnyadir form #privilegio {
	width: 10vw;
}
#wrapper #inputED {
	border: 0.15vw solid #f00;
}
.stripped{
	background-color: #95ff52;
}
th {
	font-size: 1.8vw;
	padding: 1vw 0;
}
td {
	padding: 0.3vw 0.1vw;
}
button, .inputButton {
	font-family: Poppins;
	border: none;
	border-radius: 0.3vw;
	padding: 0.3vw;
	font-size: 1.3vw;
}
.inputButton {
	font-size: 1.6vw;
}
button:hover {
	cursor: pointer;
}
#cancelar {
	background-color: #303030;
	color: #fff;
	margin-left: 2vw;
}
#aceptar {
	background-color: #ffcc00;
	margin-right: 2vw;
}
#aceptar:hover {
	cursor: pointer;
	background-color: #e0b402;
}
#cancelar:hover {
	cursor: pointer;
	background-color: #1f1f1f;
}
.eli {
	background-color: #f44646;
}
.eli:hover {
	background-color: #d63838;
}
.mod {
	background-color: #f49d46;
}
.mod:hover {
	background-color: #d4873a;
}
.any {
	background-color: #25d8ea;
    margin-left: 2vw;
    width: 5.6vw;
}
.any:hover {
	background-color: #23cdde;
}
.can {
	background-color: #303030;
	color: #fff;
}
.can:hover {
	cursor: pointer;
	background-color: #1f1f1f;
}
#oscurecer {
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
}
#formulario {
	width: 50vw;
    left: 25vw;
    height: 22vw;
    top: 8vw;
    position: absolute;
    text-align: center;
    background-color: #fbfbfb;
    z-index: 10;
    border: 1px solid #7d7d7d;
    display: none;
}
#formulario form {
	margin-top: 2.4vw;
}
#formulario #idInput {
	font-size: 1vw;
	display: none;
}
#formulario h1 {
	font-size: 2.6vw;
	padding-top: 1vw;
}
#formulario h2 {
	font-size: 2.4vw;
	margin-top: 1.4vw;
	padding-right: 0;
	color: #f00000;
}
#capaError {
	position: absolute;
    top: 12%;
    height: 45%;
    width: 60%;
    background-color: #fbfbfb;
    margin-left: 20%;
    z-index: 10;
    border: 1px solid #7d7d7d;
    text-align: center;
}
#capaError #textoError {
	text-align: center;
    margin-top: 5%;
    font-size: 2.4vw;
    color: #dc0808;
}
#capaError button {
	margin-top: 8%;
    font-size: 1.5vw;
    width: 6vw;
}
#wrapper h2 a{
	color: #005dff;
}
#wrapper h2 a:visited {
	color: #005dff;
}
#wrapper h2 a:hover{
	color: #0f4ebc;
}