*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #fbfbfb;
}
/* BARRA DE NAVEGACIÓN */
body nav {
    height: 8vh;
    font-size: 1.4vw;
    position: sticky;
    top: 0;
    background-color: #4dbd33; /* #15c1f5 */
    border-bottom: 0.15vw solid #297900; /* #1082a5 */
}
  /* Enlaces */
body nav ul {
    margin-left: 2.4vw;
    list-style: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
body nav ul li {
    display: inline;
    margin-right: 1.4vw;
}
    /* Enlace Normal */
body nav ul li a {
    text-decoration: none;
    color: #262626;
}
body nav ul li a:link {
    text-decoration: none;
    color: #262626;
}
body nav ul li a:visited {
    text-decoration: none;
    color: #262626;
}
body nav ul li a:hover {
    text-decoration: underline;
}
    /* Enlace Activo */
body nav ul li a#activo {
    color: #fdfdfd; /* #f4f4f4 */
}
body nav ul li a#activo:link {
    color: #fdfdfd; /* #f4f4f4 */
}
body nav ul li a#activo:visited {
    color: #fdfdfd; /* #f4f4f4 */
}
body nav ul li a#activo:hover {
    text-decoration: none;
    color: #fdfdfd; /* #f4f4f4 */
}
body nav div {
	position: absolute;
	width: 40%;
	height: 8vh;
	margin-left: 60%;
	text-align: right;
}
body nav div span {
	display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 2%;
}
body nav div span img#imgFresa2 {
	vertical-align: middle;
    width: 2.6vw;
    padding-left: 0.2vw;
}
#wrapper {
	height: 90vh;
}
#wrapper form {
	text-align: center;
	width: 100%;
    margin: 0;
    position: absolute;
    top: 35%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#wrapper form table {
	width: 84%;
	margin: 0 auto;
	font-size: 1.4vw;
	background-color: #95ff52;
}
#wrapper form table tr td {
	font-size: 1.8vw;
}
#wrapper form table tr td input, #wrapper form table tr td select {
    font-size: 1.2vw;
    width: 14vw;
    padding: 0.4vw 0 0.4vw 1vw;
    margin: 1vw 0;
    border-radius: 0.3vw;
    border: 1px solid #7d7d7d;
    background-color: #f5f5f5;
}
#wrapper form .inputButton {
	margin-top: 2vw;
	font-family: Poppins;
	border: none;
	border-radius: 0.3vw;
	padding: 0.3vw;
	font-size: 1.3vw;
}
#wrapper #inputED, #wrapper #inputNombre {
	border: 0.15vw solid #f00;
}
#wrapper form #cancelar {
	background-color: #303030;
	color: #fff;
}
#wrapper form a {
	margin-left: 4vw;
}
#wrapper form #aceptar {
	background-color: #ffcc00;
	margin-right: 4vw;
}
#wrapper form #aceptar:hover {
	cursor: pointer;
	background-color: #e0b402;
}
#wrapper form #cancelar:hover {
	cursor: pointer;
	background-color: #1f1f1f;
}
#wrapper #textoError {
	position: relative;
    color: #dc0808;
    font-size: 1.8vw;
    top: 58%;
    text-align: center;
}