@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	font-family: Poppins;
	background-color: #fbfbfb;
	color: #262626;
}
/* BARRA DE NAVEGACIÓN */
body nav {
    height: 8vh;
    font-size: 1.4vw;
    position: sticky;
    top: 0;
    background-color: #4dbd33; /* #15c1f5 */
    border-bottom: 0.15vw solid #297900; /* #1082a5 */
}
  /* Enlaces */
body nav ul {
    margin-left: 2.4vw;
    list-style: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
body nav ul li {
    display: inline;
    margin-right: 1.4vw;
}
    /* Enlace Normal */
body nav ul li a {
    text-decoration: none;
    color: #262626;
}
body nav ul li a:link {
    text-decoration: none;
    color: #262626;
}
body nav ul li a:visited {
    text-decoration: none;
    color: #262626;
}
body nav ul li a:hover {
    text-decoration: underline;
}
    /* Enlace Activo */
body nav ul li a#activo {
    color: #fdfdfd; /* #f4f4f4 */
}
body nav ul li a#activo:link {
    color: #fdfdfd; /* #f4f4f4 */
}
body nav ul li a#activo:visited {
    color: #fdfdfd; /* #f4f4f4 */
}
body nav ul li a#activo:hover {
    text-decoration: none;
    color: #fdfdfd; /* #f4f4f4 */
}
body nav div {
	position: absolute;
	width: 40%;
	height: 8vh;
	margin-left: 60%;
	text-align: right;
}
body nav div span {
	display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 2%;
}
body nav div span img#imgFresa2 {
	vertical-align: middle;
    width: 2.6vw;
    padding-left: 0.2vw;
}
h1 {
    font-size: 4vw;
    text-align: center;
    margin: 3vw 0;
    text-decoration: underline;
}
h2 {
    font-size: 2.3vw;
}
.ingredientes {
	padding: 1vw 4vw;
}
.cabecera {
	font-size: 2.8vw;
	text-align: center;
	margin-bottom: 2.4vw;
	padding-top: 1.6vw;
}
h3 {
	text-align: center;
	font-size: 1.8vw;
	padding: 0 1vw 1.6vw 1vw;
}
#cajaIngredientes {
	width: 80vw;
    margin: 2vw 2vw;
    background-color: #d8ff8a;
    border-radius: 3.7vw;
}
#cajaDescripcion {
	width: 80vw;
    margin: 0 auto;
	background-color: #a8dc6e;
    border-radius: 2vw;
	height: 50vh;
}